#/bin/sh
# {{ ansible_managed }}
(
  rkhunter --versioncheck
  rkhunter --update
  rkhunter --cronjob --report-warnings-only
) | mail -s 'rkhunter Weekly Run ({{ hostname }})' {{ security.rootkit.notify_email }}
