# {{ ansible_managed }}
{% macro vhost(name='', path, directory) -%}
  <VirtualHost *:{{ apache.port.http }}>
  {% if name is defined %}
    ServerName {{ name }}.{{ ansible_fqdn }}
  {% else %}
    ServerName {{ ansible_fqdn }}
  {% endif %}
  {% if name is defined %}
    ServerAlias *.{{ name }}.{{ ansible_fqdn }}
  {% else %}
    ServerAlias *.{{ ansible_fqdn }}
  {% endif %}
    ServerAdmin {{ apache.admin }}

    <IfModule mod_vhost_alias.c>
      VirtualDocumentRoot {{ path }}
    </IfModule>
    CustomLog /var/log/apache2/access.log combined
    ErrorLog /var/log/apache2/error.log
    Alias /robots.txt /var/www/robots.txt
  </VirtualHost>
{%- endmacro %}

<Directory /var/www/>
  Options -Indexes -MultiViews FollowSymLinks
  AllowOverride All
  Order allow,deny
  allow from all
</Directory>
# DOMAIN.staging.{{ ansible_fqdn }}
# /var/www/staging/DOMAIN>
# vhost(name='staging', path='/var/www/staging/%1', directory='/var/www/stagin/*/')

# DOMAIN.USER.SUB.app.{{ ansible_fqdn }}
# /var/www/u/USER/DOMAIN.SUB
{{ vhost(name='app', path='/var/www/u/%2/%1/%3') }}

# DOMAIN.USER.{{ ansible_fqdn }}
# /var/www/u/USER/DOMAIN
{{ vhost(path='/var/www/u/%2/%1') }}
