 <?php
  /*
   * Taken from: http://talks.php.net/show/confoo10/11
   */
  $app = $_SERVER['HTTP_HOST'];
  $xhprof_data = xhprof_disable();
  $xhprof_runs = new XHProfRuns_Default();
  $id = $xhprof_runs->save_run($xhprof_data, $app);

  /*
   * Output the GUI link
   */
  $ua = urlencode($app);
  $profiler_url = "{{ php.xhprof.url }}/index.php?run=$id&source=$ua";
  echo '<a href="'. $profiler_url .'" target="_blank">Profiler output</a>';
