# {{ ansible_managed }}
## Minimal sample pound.cfg
##
## see pound(8) for details


######################################################################
## global options:

User        "{{ pound.user }}"
Group       "{{ pound.group }}"

## Logging: (goes to syslog by default)
##        0        no logging
##        1        normal
##        2        extended
##        3        Apache-style (common log format)
LogLevel    {{ pound.log.level }}
## Logs to /var/log/messags by default, we want to use syslog instead.
LogFacility {{ pound.log.facility }}

## check backend every X secs:
Alive       {{ pound.alive_check }}

## use hardware-accelleration card supported by openssl(1):
#SSLEngine        "<hw>"

# poundctl control socket
Control     "/var/run/pound/poundctl.socket"

######################################################################
## listen, redirect and ... to:

## redirect all requests on port 8080 ("ListenHTTP") to the local webserver (see "Service" below):
ListenHTTPS
  ## Public IP
  Address         {{ pound.ip }}
  Port            {{ pound.port }}
  # Pound requires the certificate and the private key to be in one
  # concatenated file.
  Cert            "{{ pound.ssl.combined_cert }}"
  # Pass on https usage to varnish.
  AddHeader       "X-Forwarded-Proto: https"
  HeadRemove      "X-Forwarded-Proto"
  RewriteLocation 2
  Service
    ## Varnish
    BackEnd
      Address     {{ pound.backend.addr }}
      Port        {{ pound.backend.port }}
    End
  End
End
