{% if account_type == 'admin' %}
Howdy {{ fullname }}, welcome to Genero.

Your temporary password is: {{ password.output }}
You should change this asap, both for you server account and your mysql account.

SERVER PASSWORD
===============
To change your server password sign in and issue the command:
$ passwd
To change your mysql password run the following command:
$ mysql -u {{ username }} -p{{ password.output }} <<<"SET PASSWORD FOR '{{ username }}'@'localhost' = PASSWORD('YOUR_NEW_PASSWORD');"

Host: {{ hostname }}
IP:   {{ ip  }}
SFTP: {{ hostname }} (You have to connect using sftp, regular ftp is disabled)


GITHUB ACCESS
=============

We\'ve automatically added your github account information to your bash files,
however you need to upload your generated public key from
/home/{{ username }}/.ssh/id_rsa.pub to github.

Copy the public key which you can see using:
$ cat ~/.ssh/id_rsa.pub

Paste this string, "ssh-rsa ............ = {{ username }}@...", in at
https://github.com/settings/ssh

YOUR WEB SPACE
==============

We have created a directory for you at /var/www/u/{{ username }}/, once you create a
folder within it, say /var/www/u/{{ username }}/mywebsite, it will be visible to
everyone at http://mywebsite.{{ username }}.{{ hostname }}

// If you have any questions poke Oskar och Christoffer
// Genero
{% else %}
Hello {{ fullname }}, welcome to {{ hostname }}.

Your temporary password is: {{ password.output }}
You should change this as soon as possible by signing in and issuing the
command: passwd

Host: {{ hostname }}
IP:   {{ ip }}

// Genero
{% endif %}
