# {{ ansible_managed }}

license_key={{ newrelic_license }}

# https://docs.newrelic.com/docs/server/server-monitor-configuration
# error | warnig | info | verbose | debug | verbosedebug
loglevel={{ newrelic.sysmond.loglevel }}

logfile={{ newrelic.sysmond.logfile }}
